<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src https:">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <main>
            <h1>Hello. Welcome to {{pubName}}</h1>
            <a href="{{mainRoomLink}}">Click here to go to the main bar</a>
            <h2>Open Tables</h2>
            <ul>
                {{#tables}}
                    <li>
                        <a href='{{chatUrl}}'>{{tableName}}</a>
                    </li>
                {{/tables}}
            </ul>
        </main>
    </body>
</html>