<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src https:">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <main>
            <h1>Hello. Welcome to {{pubName}}</h1>
            <a href="{{mainRoomLink}}">Click here to go to the main bar</a>
            <h2>Open Tables</h2>
            <ul>
                {{#tables}}
                    <li>
                        <a href='{{&chatUrl}}'>{{tableName}}</a>
                    </li>
                {{/tables}}
            </ul>
            <form action="/table" method="post">
                <label for="tableName">Name for the new table: </label>
                <input type="text" name="tableName" id="tableName" required>
                <label for="chatUrl">Url for the video chat: </label>
                <input type="text" name="chatUrl" id="chatUrl" pattern="{{validChatUrlRegex}}" placeholder="https://hangouts.google.com/" aria-label="Url link to a video chat room (currently google hangouts only)" title="Url link to a video chat room (currently google hangouts only)" required>
                <input type="submit" value="add table">
            </form>
        </main>
    </body>
</html>